name: Free Online SSH

on:
  workflow_dispatch:

jobs:
  ssh-server:
    runs-on: ubuntu-latest

    steps:
      - name: Start SSH server
        run: |
          sudo apt update && sudo apt install -y openssh-server wget unzip
          
          # Setup SSH keys
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PUBLIC_KEY }}" >> ~/.ssh/authorized_keys
          
          # Start SSH service
          sudo service ssh start

          # Download ngrok
          wget -q https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-arm64.zip
          unzip -q ngrok-stable-linux-arm64.zip

          # Start ngrok TCP tunnel for SSH
          ./ngrok tcp 22 --region=us &
          sleep 5

          # Show ngrok public address
          curl --silent http://127.0.0.1:4040/api/tunnels | jq '.tunnels[0].public_url'
